[submodule "PiP-partitioning"]
	path = PiP-partitioning
	url = git@github.com:DanielaCabiddu/PiP-partitioning.git
[submodule "extraction_of_roof_piches"]
	path = extraction_of_roof_piches
	url = git@github.com:chiararomanengo/extraction_of_roof_piches.git
[submodule "photovoltaic_energy"]
	path = photovoltaic_energy
	url = git@github.com:TommasoSorgente/photovoltaic_energy.git
